<div data-global-resource-path="2020-super-sod/global/header.html">

  <a class="nav-skipper sr-only sr-only-focusable" href="#content" id="skipper">
    <div id="hs_cos_wrapper_sr_skipper"
      class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-text" style=""
      data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_sr_skipper_"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="widget"
        data-hs-cos-type="text">Skip to main content</span></div>
  </a>

  <div id="hs_cos_wrapper_topbar" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style=""
    data-hs-cos-general-type="widget" data-hs-cos-type="module"></div>


  <header class="header" id="header">

    <div id="hs_cos_wrapper_header_secondary" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
      style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
      <div class="nav-secondary">
        <div class="relative flex flex--jc-left flex--row flex--reverse flex--vertical-center">

          <a class="nav-secondary__item" href="tel:+18883601125">
            1-888-360-1125
          </a>


          <a class="nav-secondary__item" href="https://shop.supersod.com/account">My Account</a>


          <a href="https://www.supersod.com/storelocator" class="nav-secondary__item nav-secondary__store unstyled"
            data-store-toggler="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="20" aria-hidden="true">
              <path fill="currentColor"
                d="M5 2.625c-1.38083 0-2.5 1.17512-2.5 2.625 0 1.449 1.11917 2.625 2.5 2.625 1.38 0 2.5-1.176 2.5-2.625 0-1.44988-1.12-2.625-2.5-2.625zM5 7c-.92 0-1.66667-.784-1.66667-1.75S4.08 3.5 5 3.5c.92083 0 1.66667.784 1.66667 1.75S5.92083 7 5 7zm0-7C2.23833 0 0 2.35025 0 5.25 0 8.14888 5 14 5 14s5-5.85112 5-8.75C10 2.35025 7.76167 0 5 0zM.83333 5.25C.83333 2.83325 2.69917.875 5 .875c2.30167 0 4.16667 1.95825 4.16667 4.375C9.16667 7.66587 5 12.6875 5 12.6875S.83333 7.66587.83333 5.25z">
              </path>
            </svg>
            Choose a Store
          </a>

          <noscript>
            <a href="https://www.supersod.com/storelocator">Choose a Store</a>
          </noscript>

        </div>
      </div>
    </div>


    <nav class="nav-primary">

      <div class="navbar">


        <div id="hs_cos_wrapper_header_logo"
          class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module header__logo-wrap" style=""
          data-hs-cos-general-type="widget" data-hs-cos-type="module"><a href="https://www.supersod.com/"
            class="header__logo-link logo-link" title="go to home page">


            <img
              src="https://cdn2.hubspot.net/hub/3023500/hubfs/logos/super-sod-logo.png?width=107&amp;height=54&amp;name=super-sod-logo.png"
              srcset="https://cdn2.hubspot.net/hub/3023500/hubfs/logos/super-sod-logo.png?width=107&amp;name=super-sod-logo.png 107w, https://cdn2.hubspot.net/hub/3023500/hubfs/logos/super-sod-logo.png?width=214&amp;name=super-sod-logo.png 214w, https://cdn2.hubspot.net/hub/3023500/hubfs/logos/super-sod-logo.png?width=245&amp;name=super-sod-logo.png 245w, https://cdn2.hubspot.net/hub/3023500/hubfs/logos/super-sod-logo.png?width=980&amp;name=super-sod-logo.png 490w"
              sizes="(min-width: 1181px) 245px, 107px" width="107" height="54"
              alt="Super-Sod - a division of Patten Seed Company" class="header__logo logo">

          </a></div>


        <div class="navbar__controls">

          <button class="menu-toggler js-tab-focus" id="headerNavActivator" type="button" aria-controls="headerNav"
            style="outline: none;">

            <span class="menu-toggler__text">Menu</span>
          </button>

          <button class="search-toggler js-tab-focus" id="headerSearchActivator" type="button"
            aria-controls="headerSearch" style="outline: none;">
            <span id="hs_cos_wrapper_"
              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon search-toggler__icon" style=""
              data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="22" aria-hidden="true">
                <g id="layer1">
                  <path
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                  </path>
                </g>
              </svg></span>
            <span class="screen-reader-text">Search</span>
          </button>

        </div>


        <div id="hs_cos_wrapper_store_links"
          class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module navbar__store-links" style=""
          data-hs-cos-general-type="widget" data-hs-cos-type="module"><a class="navbar__store-link hide--desktop"
            href="/account" title="Online store account" aria-label="Online store account">
            <svg aria-hidden="true" focusable="false" role="presentation" height="28" class="icon icon-account"
              viewBox="0 0 50 50">
              <path
                d="M31.1 34.7c-.2-2-.1-3.4-.1-5.2.9-.5 2.5-3.5 2.8-6 .7-.1 1.8-.7 2.1-3.5.2-1.5-.5-2.3-.9-2.5 1.1-3.4 3.5-14.1-4.4-15.2C29.8.9 27.7.1 25 .1c-11 .3-12.3 8.3-9.9 17.4-.4.3-1.1 1.1-.9 2.5.3 2.7 1.4 3.4 2.1 3.5.3 2.5 1.9 5.5 2.8 6 0 1.8.1 3.2-.1 5.2C16.9 40.5 2.4 38.9 1.7 50h46.6c-.6-11.1-15.1-9.5-17.2-15.3z">
              </path>
            </svg>
          </a>

          <a class="navbar__store-link" href="/cart" title="Cart" aria-label="Cart">
            <svg aria-hidden="true" focusable="false" role="presentation" height="28" class="icon icon-cart-buggy"
              viewBox="0 0 50 50">
              <path
                d="M.8 19.1l3.3 12.4c.4 1.8 2.1 3 4 3h29.8l.8 3.6H8.6c-1.3 0-2.4 1.1-2.4 2.4 0 1.3 1.1 2.4 2.4 2.4h33.3c.7 0 1.5-.3 1.9-.9.4-.6.6-1.3.4-2.1L42.6 33V6.8l5-1.9c1.3-.5 1.9-1.9 1.4-3.2C48.5.4 47.1-.2 45.8.3l-6.6 2.4c-.8.3-1.5 1.2-1.5 2.3v6.3L4.4 14.5C2 14.8.3 17 .8 19.1z">
              </path>
              <circle cx="34.8" cy="46.5" r="3.5"></circle>
              <circle cx="12.8" cy="46.5" r="3.5"></circle>
            </svg>
          </a>
        </div>


        <div class="navbar navbar--desktop">


          <div id="hs_cos_wrapper_header_primary_menu"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module navbar-menu--primary" style=""
            data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <ul class="navbar-menu">

              <li class="navbar-menu__parent">
                <a class="navbar-menu__parent-link" href="https://shop.supersod.com">Shop</a>

              </li>

              <li class="navbar-menu__parent">
                <a class="navbar-menu__parent-link" href="https://blog.supersod.com">How-To</a>

                <button class="navbar__sub-menu-toggler">
                  <i class="navbar__dropdown-icon"></i>
                  <span class="screen-reader-text">Open submenu for How-To</span>
                </button>
                <div class="mega-menu-wrapper navbar-menu__children">



                  <ul class="mega-menu mega-menu--4-col">

                    <li class="mega-menu__parent mega-menu__parent--has-children">
                      <div class="mega-menu__parent-link-wrap">

                      </div>


                      <ul class="mega-menu__children" id="SubMenu1">

                        <li class="mega-menu__child">
                          <a class="mega-menu__link mega-menu__child-link"
                            href="//www.supersod.com/diy#productResources">
                            Lawn Care by Grass Type
                          </a>

                          <ul class="mega-menu__grandchildren">

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="//www.supersod.com/diy/tag/maintenance-guide">
                                Maintenance Guides by Grass Type
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="//www.supersod.com/diy#productResources">
                                Information Library by Grass Type
                              </a>
                            </li>

                          </ul>

                        </li>

                        <li class="mega-menu__child">
                          <a class="mega-menu__link mega-menu__child-link" href="//www.supersod.com/diy/tag/video">
                            How-To Videos
                          </a>

                        </li>

                        <li class="mega-menu__child">
                          <a class="mega-menu__link mega-menu__child-link" href="https://www.supersod.com/diy">
                            Frequently Asked Questions
                          </a>

                        </li>

                      </ul>


                    </li>

                    <li class="mega-menu__parent mega-menu__parent--has-children">
                      <div class="mega-menu__parent-link-wrap">

                      </div>


                      <ul class="mega-menu__children" id="SubMenu2">

                        <li class="mega-menu__child">
                          <a class="mega-menu__link mega-menu__child-link" href="https://blog.supersod.com/">
                            More How-To Articles
                          </a>

                          <ul class="mega-menu__grandchildren">

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/sod">
                                Choosing Sod
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="//blog.supersod.com/topic/laying-sod">
                                Laying Sod
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/lawn-from-seed">
                                Seeding a Lawn
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/new-lawn-care">
                                How to Care for a New Lawn
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/lawn-maintenance">
                                Maintenance Tips
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/monthly-lawn-care-tips">
                                Monthly Lawn Care Tips
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/watering">
                                Watering Your Lawn
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/fertilizer">
                                Fertilizing Your Lawn
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/mowing">
                                Mowing Your Lawn
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/robotic-lawn-mower">
                                Robotic Lawn Mower Articles
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/problem-management">
                                Problem Management: Pests, Diseases, Weeds
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/weed-of-the-month">
                                Weed of the Month
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/shade">
                                Growing Grass in Shade
                              </a>
                            </li>

                            <li class="mega-menu__grandchild">
                              <a class="mega-menu__link mega-menu__grandchild-link"
                                href="https://blog.supersod.com/topic/organic-compost">
                                Using Soil³ Compost
                              </a>
                            </li>

                          </ul>

                        </li>

                      </ul>


                    </li>



                    <li class="mega-menu__parent mega-menu__featured-image-wrap">
                      <a class="mega-menu__featured-image-link" href="https://blog.supersod.com/yellow-spreader">
                        <img class="mega-menu__featured-image" loading="lazy"
                          srcset="https://www.supersod.com/hs-fs/hubfs/Yellow_Spreader_Settings.jpg?width=600&amp;name=Yellow_Spreader_Settings.jpg 2x, https://www.supersod.com/hs-fs/hubfs/Yellow_Spreader_Settings.jpg?width=326&amp;name=Yellow_Spreader_Settings.jpg 1x"
                          src="https://www.supersod.com/hs-fs/hubfs/Yellow_Spreader_Settings.jpg?width=326&amp;name=Yellow_Spreader_Settings.jpg"
                          alt="Learn how to choose the proper spreader settings for your lawn.">
                      </a>
                    </li>

                  </ul>

                </div>

              </li>

              <li class="navbar-menu__parent">
                <a class="navbar-menu__parent-link" href="https://www.supersod.com/storelocator">Locations</a>

              </li>

            </ul>
          </div>


          <div id="hs_cos_wrapper_ss_header_search"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module navbar__search" style=""
            data-hs-cos-general-type="widget" data-hs-cos-type="module">

            <div class="hs-search-field">
              <div class="hs-search-field__bar">
                <form action="https://www.supersod.com/search-results">

                  <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="Search"
                    placeholder="Search">


                  <input type="hidden" name="type" value="SITE_PAGE">



                  <input type="hidden" name="type" value="BLOG_POST">
                  <input type="hidden" name="type" value="LISTING_PAGE">
                  <input type="hidden" name="groupId" value="6783375859">
                  <input type="hidden" name="groupId" value="4964708814">
                  <input type="hidden" name="domain" value="www.supersod.com">
                  <input type="hidden" name="domain" value="blog.supersod.com">




                </form>
              </div>
              <ul class="hs-search-field__suggestions"></ul>
            </div>
          </div>





          <div id="hs_cos_wrapper_store_links"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module navbar__store-links" style=""
            data-hs-cos-general-type="widget" data-hs-cos-type="module"><a class="navbar__store-link hide--desktop"
              href="/account" title="Online store account" aria-label="Online store account">
              <svg aria-hidden="true" focusable="false" role="presentation" height="28" class="icon icon-account"
                viewBox="0 0 50 50">
                <path
                  d="M31.1 34.7c-.2-2-.1-3.4-.1-5.2.9-.5 2.5-3.5 2.8-6 .7-.1 1.8-.7 2.1-3.5.2-1.5-.5-2.3-.9-2.5 1.1-3.4 3.5-14.1-4.4-15.2C29.8.9 27.7.1 25 .1c-11 .3-12.3 8.3-9.9 17.4-.4.3-1.1 1.1-.9 2.5.3 2.7 1.4 3.4 2.1 3.5.3 2.5 1.9 5.5 2.8 6 0 1.8.1 3.2-.1 5.2C16.9 40.5 2.4 38.9 1.7 50h46.6c-.6-11.1-15.1-9.5-17.2-15.3z">
                </path>
              </svg>
            </a>

            <a class="navbar__store-link" href="/cart" title="Cart" aria-label="Cart">
              <svg aria-hidden="true" focusable="false" role="presentation" height="28" class="icon icon-cart-buggy"
                viewBox="0 0 50 50">
                <path
                  d="M.8 19.1l3.3 12.4c.4 1.8 2.1 3 4 3h29.8l.8 3.6H8.6c-1.3 0-2.4 1.1-2.4 2.4 0 1.3 1.1 2.4 2.4 2.4h33.3c.7 0 1.5-.3 1.9-.9.4-.6.6-1.3.4-2.1L42.6 33V6.8l5-1.9c1.3-.5 1.9-1.9 1.4-3.2C48.5.4 47.1-.2 45.8.3l-6.6 2.4c-.8.3-1.5 1.2-1.5 2.3v6.3L4.4 14.5C2 14.8.3 17 .8 19.1z">
                </path>
                <circle cx="34.8" cy="46.5" r="3.5"></circle>
                <circle cx="12.8" cy="46.5" r="3.5"></circle>
              </svg>
            </a>
          </div>


          <div id="hs_cos_wrapper_header_cta"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module navbar__cta-wrapper" style=""
            data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <a class="navbar__cta button button--secondary" href="https://shop.supersod.com/">
              Order Sod Online 😎
            </a>
          </div>

          <button id="navCloser" class="header-nav__closer hide--desktop visually-hidden">
            Go back to menu toggle
          </button>
        </div>

      </div>


      <div id="hs_cos_wrapper_bottombar" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
        style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">

        <div class="tapbar">



          <a href="https://shop.supersod.com/" class="tapbar__link">
            <img src="//www.supersod.com/hubfs/raw_assets/public/2020-super-sod/images/icon-shop--dark-green.svg" alt=""
              class="tapbar__icon">
            <span class="tapbar__text">shop</span>
          </a>


          <a href="https://blog.supersod.com" class="tapbar__link">
            <img src="//www.supersod.com/hubfs/raw_assets/public/2020-super-sod/images/icon-academy--dark-green.svg"
              alt="" class="tapbar__icon">
            <span class="tapbar__text">academy</span>
          </a>


          <a href="https://shop.supersod.com/cart" class="tapbar__link">
            <img src="//www.supersod.com/hubfs/raw_assets/public/2020-super-sod/images/icon-cart--dark-green.svg" alt=""
              class="tapbar__icon">
            <span class="tapbar__text">cart</span>
          </a>


          <a href="https://www.supersod.com/storelocator" class="tapbar__link" id="tapbarLocationLink"
            data-personalized-text="my location">
            <img src="//www.supersod.com/hubfs/raw_assets/public/2020-super-sod/images/icon-location--dark-green.svg"
              alt="" class="tapbar__icon">
            <span class="tapbar__text">locations</span>
          </a>

          <div class="tapbar__toggler-wrapper">
            <button class="menu-toggler js-tab-focus" id="tapbarNavActivator" type="button" aria-controls="headerNav"
              style="outline: none;">
              <span class="menu-toggler__text">Menu</span>
            </button>
          </div>
        </div>
      </div>


      <div id="hs_cos_wrapper_mobile_menu" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
        style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <section id="mobileMenu" class="ss-mm" aria-label="Mobile Menu">
          <div class="ss-mm__inner">
            <section class="ss-mm__section">
              <div class="ss-mm__header">
                <h3 class="ss-mm__title">How can we help?</h3>
              </div>
              <div class="ss-mm__row">
                <a class="ss-mm__quick-link" href="tel:+18883601125">
                  <span id="hs_cos_wrapper_mobile_menu_"
                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon ss-mm__quick-link-icon"
                    style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="27" aria-hidden="true">
                      <g id="layer1">
                        <path
                          d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
                        </path>
                      </g>
                    </svg></span>
                  <div class="ss-mm__quick-link-text">call us</div>
                </a>
                <a class="ss-mm__quick-link" href="https://www.supersod.com/diy/frequently-asked-questions">
                  <span id="hs_cos_wrapper_mobile_menu_"
                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon ss-mm__quick-link-icon"
                    style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="27" aria-hidden="true">
                      <g id="layer1">
                        <path
                          d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
                        </path>
                      </g>
                    </svg></span>
                  <div class="ss-mm__quick-link-text">FAQ</div>
                </a>
                <a class="ss-mm__quick-link" href="https://www.supersod.com/storelocator">
                  <span id="hs_cos_wrapper_mobile_menu_"
                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon ss-mm__quick-link-icon"
                    style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="27" aria-hidden="true">
                      <g id="layer1">
                        <path
                          d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                        </path>
                      </g>
                    </svg></span>
                  <div class="ss-mm__quick-link-text">locations</div>
                </a>
                <a class="ss-mm__quick-link" href="https://shop.supersod.com/">
                  <img class="ss-mm__quick-link-icon"
                    src="//www.supersod.com/hubfs/raw_assets/public/2020-super-sod/images/icon-online-store.svg" alt=""
                    height="27" aria-hidden="true" loading="lazy" style="height: 27px; width: auto;">
                  <div class="ss-mm__quick-link-text">sod store</div>
                </a>
              </div>
            </section>
            <section class="ss-mm__section">
              <div class="ss-mm__header">
                <h3 class="ss-mm__title">Products</h3>
                <a href="">see all products</a>
              </div>
              <div class="ss-mm__track">

                <a class="ss-mm__product-category" href="https://shop.supersod.com/collections/sod">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Product%20Images/category-sod.png?height=63&amp;name=category-sod.png"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Sod</span>
                </a>
                <a class="ss-mm__product-category" href="https://shop.supersod.com/collections/soil3">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Soil3-BYB-Big_Yellow_Bag.png?height=63&amp;name=Soil3-BYB-Big_Yellow_Bag.png"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Soil<sup>3</sup> Compost</span>
                </a>
                <a class="ss-mm__product-category" href="https://shop.supersod.com/collections/grass-seed">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Product%20Images/category-sod.png?height=63&amp;name=category-sod.png"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Grass Seed</span>
                </a>
                <a class="ss-mm__product-category" href="https://shop.supersod.com/collections/automowers">
                  <figure>
                    <img
                      src="https://cdn2.hubspot.net/hub/3023500/hubfs/Automower/automower-450x-model.jpg?height=63&amp;name=automower-450x-model.jpg"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Robotic Mowers</span>
                </a>
                <a class="ss-mm__product-category"
                  href="https://super-sod-prod.myshopify.com/collections/level-mix/products/soil3-level-mix">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/logos/soil3-level-mix-logo.png?height=63&amp;name=soil3-level-mix-logo.png"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Level Mix</span>
                </a>
                <a class="ss-mm__product-category"
                  href="https://super-sod-prod.myshopify.com/collections/lawn-care-products">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/spreader-cutout.png?height=63&amp;name=spreader-cutout.png"
                      alt="" height="63" style="max-width: 100px;" loading="lazy">
                  </figure>
                  <hr>
                  <span class="ss-mm__product-category-title">Lawn Care Products</span>
                </a>
              </div>
            </section>
            <section class="ss-mm__section">
              <div class="ss-mm__header">
                <h3 class="ss-mm__title">Latest DIY</h3>
                <a href="https://blog.supersod.com">see all posts</a>
              </div>
              <div class="ss-mm__track">


                <a class="ss-mm__post card card--16-9" href="https://blog.supersod.com/may_lawntips_2021">
                  <figure>
                    <img src="https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=400&amp;name=88194222_l.jpg"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=200&amp;name=88194222_l.jpg 200w, https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=400&amp;name=88194222_l.jpg 400w, https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=600&amp;name=88194222_l.jpg 600w, https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=800&amp;name=88194222_l.jpg 800w, https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=1000&amp;name=88194222_l.jpg 1000w, https://www.supersod.com/hs-fs/hubfs/88194222_l.jpg?width=1200&amp;name=88194222_l.jpg 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">May Lawn Tips 2021</span>
                </a>

                <a class="ss-mm__post card card--16-9" href="https://blog.supersod.com/shiny_cudweed">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=400&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=200&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 200w, https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=400&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 400w, https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=600&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 600w, https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=800&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 800w, https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=1000&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 1000w, https://www.supersod.com/hs-fs/hubfs/Weeds/shiny%20cudweed%20aka%20gray%20everlasting/shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg?width=1200&amp;name=shiny%20cudweed%20Gamochaeta%20coarctata-4.jpg 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">Shiny Cudweed - May Weed of the Month</span>
                </a>

                <a class="ss-mm__post card card--16-9" href="https://blog.supersod.com/april_lawntips_2021">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=400&amp;name=April_LawnTips_Sq.png"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=200&amp;name=April_LawnTips_Sq.png 200w, https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=400&amp;name=April_LawnTips_Sq.png 400w, https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=600&amp;name=April_LawnTips_Sq.png 600w, https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=800&amp;name=April_LawnTips_Sq.png 800w, https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=1000&amp;name=April_LawnTips_Sq.png 1000w, https://www.supersod.com/hs-fs/hubfs/April_LawnTips_Sq.png?width=1200&amp;name=April_LawnTips_Sq.png 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">April Lawn Tips 2021</span>
                </a>

                <a class="ss-mm__post card card--16-9" href="https://blog.supersod.com/deadnettle_henbit">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=400&amp;name=dead%20nettle%20vs%20henbit.jpg"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=200&amp;name=dead%20nettle%20vs%20henbit.jpg 200w, https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=400&amp;name=dead%20nettle%20vs%20henbit.jpg 400w, https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=600&amp;name=dead%20nettle%20vs%20henbit.jpg 600w, https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=800&amp;name=dead%20nettle%20vs%20henbit.jpg 800w, https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=1000&amp;name=dead%20nettle%20vs%20henbit.jpg 1000w, https://www.supersod.com/hs-fs/hubfs/Weeds/dead%20nettle%20vs%20henbit.jpg?width=1200&amp;name=dead%20nettle%20vs%20henbit.jpg 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">Dead Nettle &amp; Henbit - April Weeds of the Month</span>
                </a>

                <a class="ss-mm__post card card--16-9" href="https://blog.supersod.com/march_lawntips_2021">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=400&amp;name=March_LawnTips_Sq.png"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=200&amp;name=March_LawnTips_Sq.png 200w, https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=400&amp;name=March_LawnTips_Sq.png 400w, https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=600&amp;name=March_LawnTips_Sq.png 600w, https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=800&amp;name=March_LawnTips_Sq.png 800w, https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=1000&amp;name=March_LawnTips_Sq.png 1000w, https://www.supersod.com/hs-fs/hubfs/March_LawnTips_Sq.png?width=1200&amp;name=March_LawnTips_Sq.png 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">March Lawn Tips 2021</span>
                </a>

                <a class="ss-mm__post card card--16-9"
                  href="https://blog.supersod.com/cardamine-hirsuta-hairy-bittercress">
                  <figure>
                    <img
                      src="https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=400&amp;name=hairybittercress-1.jpg"
                      alt="" width="400" loading="lazy"
                      srcset="https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=200&amp;name=hairybittercress-1.jpg 200w, https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=400&amp;name=hairybittercress-1.jpg 400w, https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=600&amp;name=hairybittercress-1.jpg 600w, https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=800&amp;name=hairybittercress-1.jpg 800w, https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=1000&amp;name=hairybittercress-1.jpg 1000w, https://www.supersod.com/hs-fs/hubfs/Weeds/hairybittercress-1.jpg?width=1200&amp;name=hairybittercress-1.jpg 1200w"
                      sizes="(max-width: 400px) 100vw, 400px">
                  </figure>
                  <span class="ss-mm__post-title">Hairy Bittercress - March Weed of the Month</span>
                </a>

              </div>
            </section>
          </div>
        </section>
      </div>

    </nav>

    <div class="header-search" id="headerSearch">
      <a class="header-search__brand" href="/">
        <img
          src="//www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=46&amp;name=brand-icon.png"
          alt="Super-Sod Home" width="46"
          srcset="//www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=23&amp;name=brand-icon.png 23w, //www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=46&amp;name=brand-icon.png 46w, //www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=69&amp;name=brand-icon.png 69w, //www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=92&amp;name=brand-icon.png 92w, //www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=115&amp;name=brand-icon.png 115w, //www.supersod.com/hs-fs/hubfs/raw_assets/public/2020-super-sod/images/brand-icon.png?width=138&amp;name=brand-icon.png 138w"
          sizes="(max-width: 46px) 100vw, 46px">
      </a>

      <div class="header-search__bar">


        <div class="hs-search-field">
          <div class="hs-search-field__bar">
            <form action="https://www.supersod.com/search-results">

              <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="Search"
                placeholder="Search">


              <input type="hidden" name="type" value="SITE_PAGE">



              <input type="hidden" name="type" value="BLOG_POST">
              <input type="hidden" name="type" value="LISTING_PAGE">
              <input type="hidden" name="groupId" value="6783375859">
              <input type="hidden" name="groupId" value="4964708814">
              <input type="hidden" name="domain" value="www.supersod.com">
              <input type="hidden" name="domain" value="blog.supersod.com">




            </form>
          </div>
          <ul class="hs-search-field__suggestions"></ul>
        </div>
      </div>

      <button class="header-search__closer" id="headerSearchCloser" type="button">
        <span class="header-search__closer-icon" aria-hidden="true"></span>
        <span class="header-search__closer-message"><span aria-hidden="true">ESC</span><span
            class="visually-hidden">Press
            Escape</span></span>
      </button>
    </div>

  </header>
</div>