{{ 'byb-rec-section.css' | asset_url | stylesheet_tag }}
{% assign bigYellowBag = all_products['copy-of-soil-bulk-compost-br-delivered']%}
<div class="full-width-section byb-rec-section">
  <img src="{{ bigYellowBag.image.url }}" alt="{{ bigYellowBag.title }}" class="byb-rec-section__picture">
  <div class="byb-rec-section__description">
    {{ section.settings.description }}
  </div>
  <input type="number" class="byb-rec-section__qty">
</div>

{% schema %}
{
  "name": "byb-rec-section",
  "tag": "section",
  "class": "byb-rec-section-container",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "We recommend 1 BigYellowBag for every 500-1000 sqft of Sod"
    },
    {
      "type": "text",
      "id": "about_paragraph",
      "label": "paragraph",
      "default": "In we gave away over $50,000 in sod and Soil3 compost to local organizations. In keeping with these things, it is our pledge to care for the land and the environment in such a manner that customers and future generations will benefit."
    }
  ],
  "presets": [
    {
      "name": "byb-rec-section"
    }
  ]
}
{% endschema %}
