$tablet: 768px;
$desk: 1100px;
$border-color: #B7B7B7;
$box-color: #FBFBFB;

.account-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.account-title--add-address {
  margin-top: 30px;
}

.account-subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.account-sidebar {
  @media (min-width: #{$tablet}) {
    margin-top: 0;
  }
}

.breadcrumb-nav--account {
  @media (min-width: #{$tablet}) {
    margin-top: 5px;
  }
}

.data-table {
  border-color: $border-color;

  thead th {
    background-color: $box-color;
    font-size: 18px;
    line-height: 21px;
  }

  td, th {
    border-color: $border-color;

    @media (min-width: #{$desk}) {
      padding-bottom: 25px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 24px;
    }
  }

  tbody th,
  tfoot th {
    background-color: #FFFFFF;
  }

  td {
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: #{$tablet}) {
      text-align: center;
    }
  }
}

.address-box {
  background-color: $box-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 23px 22px;
}

.address-box__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px; 
}

.address-box__title-spacer {
  @media (min-width: #{$tablet}) {
    padding-top: 35px;
  }
}

.manage-address-link {
  @media (min-width: #{$tablet}) {
    padding-left: 22px;
  }
}
