$color_primary: #54A45B;
$cart_desk: 990px;

.cart-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 5px;
}

.cart-table {
  .cart__table-cell--image {
    @media only screen and (min-width: #{$cart_desk}) {
      width: 20%;
    }
  }
}

.cart {
  .cart__method-label {
    display: inline-block;
    font-size: 14px;

    @media only screen and (min-width: #{$cart_desk}) {
      font-size: 16px;
    }
  }
}

.cart__header-labels {
  th {
    font-size: 18px;
  }
}

.cart__product-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.cart__table-cell--meta {
  @media only screen and (min-width: #{$cart_desk}) {
    padding-left: 42px;
    padding-top: 35px;
    width: 35%;
  }
}

.cart__table-cell--price {
  @media only screen and (min-width: #{$cart_desk}) {
    width: 15%;
  }
}

.cart__table-cell--quantity {
  @media only screen and (min-width: #{$cart_desk}) {
    text-align: center;
    width: 20%;
  }
}

.quantity-selector {
  display: inline-block;
  width: 100px;
}

.cart .cart__note-label {
  font-size: 16px;
  line-height: 18px;

  @media only screen and (min-width: #{$cart_desk}) {
    display: inline-block;
    margin-top: 12px;
  }
}

.cart__subtotal-container {
  @media only screen and (min-width: #{$cart_desk}) {
    margin-bottom: 2px;
  }
}

.cart__subtotal-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.cart__subtotal {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.cart__note {
  @media only screen and (min-width: #{$cart_desk}) {
    max-width: 415px;
  }
}

.cart__note--full {
  @media only screen and (min-width: #{$cart_desk}) {
    max-width: 100%;
  }
}

.cart__policies {
  color: #747474;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.cart__continue-shopping {
  margin-top: 25px;

  @media only screen and (min-width: #{$cart_desk}) {
    padding-right: 50px;
  }
}

.payment-icons {
  margin-top: 20px;
}

.cart__delivery-method {
  text-align: left;
}

.btn--check-dates {
  margin: 10px 0;
}

.cart__date-picker-container {
  .tail-datetime-calendar {
    margin-left: 0;
  }
}

.cart__delivery-title {
  font-weight: bold;
}

.cart__delivery-message {
  font-size: 14px;
}

.cart__delivery-message--soil-level-mix {
  background-color: #F9FFF9;
  border: 1px solid $color_primary;
  font-size: 16px;
  padding: 5px 10px;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-disabled:after {
  display: none;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-select,
.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade.date-select,
.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month.date-select,
.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year.date-select {
  border-color:  $color_primary;
  background-color:  $color_primary;
}

.cart__error-message {
  background-color: #fff8f8;
  border: 1px solid #D20000;
  color: #D20000;
  font-size: 16px;
  line-height: 18px;
  margin-top: 15px;
  padding: 10px 11px;
  text-align: left;
}

.cart__error-message--warning {
  background-color: #fffde4;
  border-color: #928800;
  color: #928800;
  display: inline-block;
  line-height: 1;
  margin-top: 0;
  padding: 16px 5px;
  vertical-align: top;
}

.cart__error-message--invalid-quantity {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.form__input--date {
  background-image: url(./calendar.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20px;
}

.form__input--date-missing {
  border: 1px solid #D20000;
}

.update-cart {
  margin-bottom: 16px;
  margin-right: 0;
}

.arrow {
  border: solid ;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow--right {
  transform: rotate(-45deg);
}
