.form--sign-in {
  @media (min-width: 1100px) {
    margin-right: 25px;
  }
}

.form--sign-up {
  @media (min-width: 1100px) {
    margin-left: 25px;
  }
}

.sign-in-title {
  border-bottom: 1px solid #B7B7B7;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 67px;
  margin-top: 0;
  padding-bottom: 6px;
}